@model IEnumerable<Aastha_WEB.Models.UserModel>

@{
    ViewBag.Title = "GetAllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetAllUsers</h2>

<p>
    @*@Html.ActionLink("Create New User", "CreateNewUser")*@
    <br>
    <a class="button" href="@Url.Action("CreateNewUser", "User", "")">Create New User</a>
    @*<input type="submit" href="@Url.Action("CreateNewUser", "User", "")" class="btn btn-default">Create New User</input>*@
</p>
<table class="table">
    <tr>
        <th hidden>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td hidden>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoginDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td hidden>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */}) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
